@model TrainOnline.Models.Seat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Seat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeatCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeatCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetTrainCarId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetTrainCarId.TrainCarId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetTypeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetTypeId.TypeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GetStatusId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GetStatusId.StatusId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeleteDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeleteDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SeatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
