@model IEnumerable<TrainOnline.Models.ScheduleDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PriceToTheNextStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetScheduleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetCurrentStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GetNextStation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeleteDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PriceToTheNextStation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetScheduleId.ScheduleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetCurrentStation.StationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GetNextStation.StationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeleteDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ScheduleDetailId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ScheduleDetailId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ScheduleDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
